<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.MANAGE_DOCUMENTS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.Light.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="s">
        <activity
            android:name=".Menu.Kunjungan.Pengujian"
            android:exported="false" />
        <activity
            android:name=".Menu.Kunjungan.Perpustakaan"
            android:exported="false" />
        <activity
            android:name=".Menu.Kunjungan.TamanAgro"
            android:exported="false" />
        <activity
            android:name=".Menu.Upbs.UpbsStock"
            android:exported="false" />
        <activity
            android:name=".Menu.Laboratorium.LabTarif"
            android:exported="false" />
        <activity
            android:name=".Menu.Laboratorium.LabPeralatan"
            android:exported="false" />
        <activity
            android:name=".Menu.Laboratorium.LabLingkup"
            android:exported="false" />
        <activity
            android:name=".Menu.Organisasi.PimpinanProfil"
            android:exported="false" />
        <activity
            android:name=".Menu.Upbs.UpbsInfo"
            android:exported="false" />
        <activity
            android:name=".Menu.Magang.MagangInfo"
            android:exported="false" />
        <activity
            android:name=".Menu.Organisasi.TugasDanFungsi"
            android:exported="false" />
        <activity
            android:name=".Menu.Organisasi.VisiDanMisi"
            android:exported="false" />
        <activity
            android:name=".Menu.Organisasi.StrukturBpsip"
            android:exported="false" />
        <activity
            android:name=".Menu.Organisasi.ProfilBpsip"
            android:exported="false" />
        <activity
            android:name=".Menu.Upbs.FormBenihBantuan"
            android:exported="false" />
        <activity
            android:name=".Menu.Magang.FormMagang"
            android:exported="false" />
        <activity
            android:name=".Menu.Laboratorium.FormSample"
            android:exported="false" />
        <activity
            android:name=".Menu.Layanan.Konsultasi"
            android:exported="false" />
        <activity
            android:name=".Menu.Layanan.Upbs"
            android:exported="false" />
        <activity
            android:name=".Menu.Layanan.Magang"
            android:exported="false" />
        <activity
            android:name=".Menu.Layanan.Kunjungan"
            android:exported="false" />
        <activity
            android:name=".Menu.Layanan.Laboratorium"
            android:exported="false" />
        <activity
            android:name=".Menu.Navbar.Kontak"
            android:exported="false" />
        <activity
            android:name=".Menu.Navbar.Agrostandar"
            android:exported="false" />
        <activity
            android:name=".Menu.Navbar.Organisasi"
            android:exported="false" />
        <activity
            android:name=".Menu.Navbar.Layanan"
            android:exported="false" />
        <activity
            android:name=".Menu.Navbar.Dashboard"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".register"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
    </application>

</manifest>